<script src="https://www.mercadopago.com/v2/security.js" view="pending"></script>
Pending
<div>
    <ul>
        <li>collection_id: {{ collection_id }}</li>
        <li>collection_status: {{collection_status}}</li>
        <li>payment_id: {{payment_id}}</li>
        <li>status: {{status}}</li>
        <li>external_reference: {{external_reference}}</li>
        <li>payment_type: {{payment_type}}</li>
        <li>merchant_order_id: {{merchant_order_id}}</li>
        <li>preference_id: {{preference_id}}</li>
        <li>site_id: {{site_id}}</li>
        <li>processing_mode: {{processing_mode}}</li>
    </ul>
</div>